/* nav color */
.navColor {
    background-color: #EFEFF0;
}

/* btn font size */
.btnFontSizeColor {
    font-size: 11px;
    font-weight: bold;
    background-color: #F2F2F2;
    color:  #b1b0b0;;
}

.btn-active {
    background-color: #3CB7E7;
    color: white;
}



.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 33%;
    height: 2px;
    bottom: -23px;
    top: 45px;
    left: 15px;
    background-color: #3CB7E7;
    color: #3CB7E7;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;

}

.navbar-nav .nav-link.active::before {
    visibility: visible;
    transform: scaleX(1);

}

.navheading {
    color: #3CB7E7;
}

.imgIcon {
    width: 54px;
}

.submitBtn {
    font-size: 11px;
    font-weight: bold;
}


/* Balance sheet account */
.SourceAccountDiv {
    width: 37%;

}

.BalanceSheet {
    color: white;
    background-color: #3CB7E7;
    font-size: 12px;
    border-radius: 4px;
}

/* DestinationDiv */
.DestinationDiv{
    width: 24%;
}
.DestinationAcc {
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.LikelyDestinationAcc1 {
    background-color: #00C0CD;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.LikelyDestinationAcc2 {
    background-color: #33CDD7;
    color: white;
    font-size: 12px;
    border-radius: 4px;

}

.LikelyDestinationAcc3 {
    background-color: #7FDFE6;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.LikelyDestinationAcc1div {
    margin-left: -3%;
}

.LikelyDestinationDiv {
    width: 103%;
}


/* Dynamic class adding in js */
.DynamicFontSize {
    font-size: 12px;
    font-weight: 600;
}

/* Navbar scroll destination acc */
div.scrollmenu {
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 4px;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


/* Scrollbtn */
.scrollBtn {
    height: 0px;
}

#scroll-Left-btn {
    position: relative;
    margin-left: 90%;
    border: none;
    top: 19px;
    background-color: white;
    font-weight: bold;

}

#scroll-right-btn {
    position: relative;
    border: none;
    top: 19px;
    background-color: white;
    margin-left: 0.3%;
    font-weight: bold;
}

.scrollItems {
    font-size: 12px;
    padding: 0px;
    font-weight: bold;
}

.searchIcon{
  position: absolute; 
  right: 18rem;
  font-size: 13px;
  top: 17.8rem;  
}

.searchInput{
    font-size: 13px;
}
