/* login page css */
#loginpageimg {
  position: relative;
}

input.middle:focus {
  outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

[contenteditable="true"]:focus {
  outline: none;
}

*:focus {
  outline: none;
}

/* .btn:focus {
  outline: none;
} */

/* 
input.middle:focus {
  outline-width: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important ;
}

button.middle:focus {
  outline-width: 0 !important;
} */

#titlelogo {
  position: absolute;
  width: 200px;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logborder {
  height: 100vh;
}

.loginbtn {
  width: 100%;
  height: 35px;
  background-color: #326c96;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

.loginpagehrline {
  width: 7%;
  margin-top: -4%;
  height: 3px;
  color: #011318;
}

.loginpageheading {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .logform {
    width: 80%;
    margin-left: 15%;
    margin-top: 23%;
  }
}

.loginoagelable {
  margin-left: -1%;
  width: 43%;
}

.logform {
  width: 60%;
  margin-left: 12%;
  margin-top: 23%;
}

#emaillable {
  font-size: 0.7rem;
  font-weight: bold;
  color: #313131;
  opacity: 90%;
  font-family: "Noto Sans", sans-serif;
}

#passwordlable {
  font-size: 0.7rem;
  font-weight: bold;
  color: #313131;
  font-family: "Noto Sans", sans-serif;
}

#savestock,
#savepart,
.btnradio,
#addassignment {
  color: #f7fdff;
  background-color: #07678d;
}

#new {
  color: #ffffff;
  background-color: #326c96;
  width: 85px;
  height: 38px;
}

label.error {
  color: red;
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
  position: absolute;
  display: block;
  opacity: 0.125;
  right: 265px !important;
  line-height: 9px;
  font-size: 0.8em;
}

/* 
table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
  opacity: -7.4 !important;
} */

#dasboardlogo {
  width: 170px;
  height: 40px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-y: hidden;
  font-size: 13px;
}

#links {
  margin-right: 24%;
  margin-left: 20%;
}

#PrifleImage {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.partno {
  text-align: left;
}

.container-bg {
  background-color: rgb(255, 255, 255);
}

ul li {
  display: inline-block;
  font-size: 16px;
}

ul li a {
  color: #110d0d;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}

a:hover {
  color: #000000;
  background-color: transparent;
}

ul li .underline {
  height: 2px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

ul li:active a {
  transition: none;
  color: rgba(255, 255, 255, 0.76);
}

ul li:active .underline {
  transition: none;
  background-color: rgba(255, 255, 255, 0.76);
}

#para {
  color: gray;
}

ul li.active-link .underline {
  width: 40%;
  background-color: rgb(22, 18, 18);
}

ul li:active .underline {
  transition: none;
  background-color: rgb(92, 84, 84);
}

ul li {
  display: inline-block;
  font-size: 16px;
}

.head {
  text-align: center;
}

table {
  border: 1px solid lightgray;
  font-size: small;
  border-collapse: collapse;
  border-radius: 0.6em;
  overflow: hidden;
}

.navbar-expand-lg {
  height: 48px;
  background-color: #ffffff;
  padding: 0px;
}

.bi {
  font-size: 1rem;
  color: black;
}

.bg-light {
  background-color: #f7fdff;
}

thead {
  color: #ffffff;
  background-color: black;
  border-collapse: collapse;
  border-radius: 1em;
}

tbody {
  background-color: #ffffff;
  color: #000;
}

#table_div_length,
#table_div1_length,
#table_div_filter,
#table_div1_filter {
  display: none;
}

#table_div_filter {
  margin-bottom: 2%;
  margin-top: 3%;
}

#table_div1_filter label {
  margin-left: 20%;
}

#table_div1_filter {
  padding-bottom: 20px;
  padding-top: 0px;
  width: 100%;
  position: relative;
  min-width: 100px;
}

#navpart {
  margin: 0px;
  padding-right: 0px;
  margin-left: 13.5%;
}

.backgroundcolor {
  background-color: #f7f8fa;
}

.pagination {
  margin-right: -10%;
}

#tabletitle {
  font-size: 2rem;
  color: black;
}

.rightalign {
  text-align: right !important;
}

.fontcolor {
  color: gray;
}

.alert {
  padding: 3px;
}

.warningalert {
  padding: 3px !important;
  color: rgb(143, 143, 7) !important;
}

#addStock {
  background-color: #326c96;
  color: white;
  margin-left: 70%;
  width: 72px;
}

#stock {
  font-size: 2rem;
  color: black;
}

#table_div_info,
#table_div1_info {
  position: relative;
  left: 184%;
}

.statustable {
  border: 1px solid black;
}

.childtable {
  color: #000000 !important;
  border: 1px solid rgb(100, 93, 93) !important;
  border-radius: 40px !important;
}

td {
  background-color: #ffffff;
}

.page-item.active .page-link {
  background-color: black !important;
  border-color: black !important;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0% !important;
  margin: 0% !important;
  background-color: white;
  color: #0000;
}

li.paginate_button.page-item.active {
  background: none !important;
  border: none !important;
}

li.paginate_button.page-item:hover {
  background: none !important;
  border: none !important;
}

.page-link {
  color: #000000;
}

table.dataTable td.dt-control:before {
  color: #145979 !important;
  border: 0.15em solid #097eac !important;
  background-color: #ffffff !important;
}

.form-check-input:checked {
  background-color: #24780c !important;
  border-color: #2ebb02 !important;
}

.table.dataTable td.dt-control:before {
  margin-right: 10px;
}

.table.dataTable td.dt-control {
  color: #06a0dd;
}

.table-condensed th {
  background-color: #ffffff !important;
}

.actiontd {
  text-align: right;
}

/* 
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #062d49 !important;
  border-color: #082f4b !important;
} */



.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: #fff !important;
  background-color: #0a738d !important;
  border-color: #0a738d !important;
}

.btn-outline-primary:hover {
  background-color: white !important;
  color: #000 !important;
  border: 1px solid black;
}

.btn-outline-primary {
  color: black;
  border-color: white;
  border: 1px solid black;
}

/* 
div.table-responsive #childpartTable th {
  color: gray;
}

div.table-responsive #childpartTable thead {
  background-color: rgb(220, 223, 232);
  border-collapse: collapse;
  border-radius: 5px;

}

div.table-responsive table #childpartTable {
  font-size: small;
  border-radius: 5px;
  overflow: hidden;
} */


.searchicon {
  position: absolute;
  top: 78px;
  right: 341px;
  padding: 2px;
}

.searchbar {
  padding-left: 27px;
}