@import url('https://fonts.googleapis.com/css?family=Dosis');
 #calculatorBody{
  width: 75%;
  background: 	#FFDEAD;
  margin: auto;
  padding: 2px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px;
}

#answer{
  width: 80%;
  height: 70%;
  display: inline-block;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background: lightgrey;
}
input {
  cursor: pointer;
  width: 85%;
  height: 65px;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  margin: 10px; 
  font-family: 'Dosis', sans-serif;
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px;
  
}
#AC {
   background: #FF6347;
}
#equals{
  background: #1E90FF;
}