body{
    background-color: gainsboro;
}
nav{
    background-color: antiquewhite; 
    text-align: right;
    padding: 5px;
}
li{
    display: inline;
    font-size: 1.5rem;
    padding: 20px;
    text-align: right;
}
.Regiform{
    margin-left: 33%;
    /* border: 2px black solid; */
    margin-right: 30%;
    padding: 30px;
    margin-top: 30px;
    display: block;
}
.Elements{
   margin-top: 10px;
   font-size: 20px;
}
.Image{
    text-align: center;
    padding: 40px;
}
.Atag{
    background-color: rgb(12, 155, 238);
    text-decoration: none;
    color: white;
    border: 0 solid ;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}
.Atag:hover{
    background-color: rgb(0, 89, 255);
    transition: 0.02s ease-out;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(15, 140, 241);
}


