
.navbar{
    border-bottom: 2px solid gainsboro;
    background-color: #EFEFF0; 
}
.navbar-toggler-icon {
    display: inline-block !important;
    width: 1.5em !important;
    height: 1.5em !important;
    vertical-align: middle !important;
    background-image: var(--bs-navbar-toggler-icon-bg)!important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
    color: black;
}
.nav-link{
    color: #93CCEA;
    font-weight: bold;
}
.navbar-brand{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.navbar-nav .nav-link {
    position: relative;
  }
  
  .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 36%;
    height: 3px;
    bottom: -15px;
    left: 16px;
    background-color: #93CCEA;
    visibility: hidden;
    transform: scaleX(1);
  }
  
  .navbar-nav .nav-link.active::before
  {
    visibility: visible;
    transform: scaleX(1);
  }
  .rounded-circle{
    height:50px;
    width: 50px;
}
.btn {
    background-color: #EFEFF0;
    border-bottom: 2px solid gainsboro;
    color: #c5c9c7;
}
.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    background-color:#93CCEA !important;
    color: white !important;
    border-bottom: none !important;
}
#Submit{
    background-color: #00961F;
    border-bottom: none !important;
    color: white !important;
}
i{
    color: #F8A668;
}