body{
    background-image: linear-gradient(to left, #dc5af2, #be69f6, #a074f6, #837bf2, #6880ea);
}
.nav1{
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

.error1{
    font-size: 12px;
    color: rgb(88, 2, 2);
}