.background{
    width: 100%;
    height: 100vh;
}
.line hr {
    width: 30px;
    height: 3px;
    color: blue;
}
@media (max-width:629px) {
    img#background {
      display: none;
    }
  }
label.error{
    color: red;
}

