#myTable thead tr th{
    background-color:  #000;
    color: #fff;
}

.rounded-circle{
    height:50px;
    width: 50px;
}
#myTable_filter{
    margin: 15px;
    padding: 0px;
}
.toolbar {
    float: left;
    margin: 12px;
}
#myTable thead tr th{
    text-align: center;
}
table.dataTable tbody tr td:first-child {
   text-align: left;
}
table.dataTable  tr  {
    text-align: center;
 }
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0px;
  border: none;
}
table.dataTable.table-striped>tbody>tr.odd>* {
  box-shadow: none;
}