label {
    color: black
}

span {
    color: red;
}

/* #panel,
#flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
} */

label.error {
    color: red;
}

/* .css-serial { 
    counter-reset: serial-number;
    Set the serial number counter to 0
  } */

.css-serial td:first-child:before {
    counter-increment: serial-number;
    /* Increment the serial number counter */
    content: counter(serial-number);

    /* Display the counter */
}

#addrow {
    background-color: skyblue;
    width: 10%;
}

#export {
    background-color: palegreen;
    width: 10%;
}
#removecookies{
    background-color: lightblue;
    width: 10%;
}
#save {
    background-color: rgb(114, 231, 114);
    width: 30%;
    display: none;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

table,
tr,
td,
th {
    border: 1px solid black;
}