

label.error {
    color: red;
}



.appBtn{
    /* display: none; */
    width:27%;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.hide{
    display: none;
}

#update{
    display: none;
}
#addrow {
    background-color: skyblue;
    width: 10%;
}

#export {
    background-color: palegreen;
    width: 10%;
}
#removecookies{
    background-color: lightblue;
    width: 10%;
}
#save {
    background-color: rgb(114, 231, 114);
    width: 30%;
    display: none;
}
