.toolbar{
    float: left;
    padding: 15px;
   
}

table.dataTable.display tbody tr td:first-child{

  text-align: left;
}

table.dataTable td.dt-control:before {
background-color:white !important ; 
color: #326C96 !important;
box-shadow: 0 0 0.2em #326C96 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background-color: black !important;
  padding: 0%;
}
.dataTables_info {
  color: inherit;
  margin-left: 1060px;

}

/* Select 2  */

.select2-dropdown{
    z-index: 1100 !important;
    
  }
  .select2-container{
    width: 100% !important;
  }
  