table.dataTable tbody tr :nth-child(2) {
    color:#1188FF;
  }

.toolbar{
    float: left;
    padding: 15px;
   
}

table.dataTable tbody tr th:first-child{
    text-align: left ;
}
table.dataTable th {
    background-color: black;
    color: white;
    border-right: none;
    
}
.addvalue{
    margin-top: 31px;
}