table.dataTable tbody tr  :nth-child(2) { 
    color: #1188FF;
   
}

.toolbar {
    float: left;
    padding: 15px;

}

.dataTables_filter {
    padding: 15px;
}

table.dataTable tbody tr th:first-child {
    text-align: left;
}

table.dataTable th {
    background-color: black;
    color: white;
    border-right: none;

}
#statustable tbody tr td:first-child{
    background-color: white;
}
.styl {
    width: 50px;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;

}

table.dataTable.display>tbody>tr.odd>* {
    
    background-color: white !important;
}table.dataTable.display>tbody>tr.even>* {
    background-color: white !important;
}
table.dataTable td.dt-control:before {

    background-color: white !important;
    color: #326C96 !important;
    box-shadow: 0 0 0.2em #326C96 !important;
    margin-top: 4px !important;
}
table.dataTable td.dt-control:before {
   
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {

    padding: 0%;
    color: inherit !important;
    color: white !important;
    background-color: black !important;

}



.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0% !important;
    margin-left: 0px !important;
    text-align: center;
    border-radius: 2px;

}

input[type=checkbox]:checked {
    accent-color: green;
}

.dataTables_wrapper .dataTables_info {
    margin-left: 1050px !important;
}

table.dataTable td.dt-control {
    cursor: pointer;
    text-align: left !important;
}
table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after
{
  position: absolute;

  right: 250px !important;
}
table.dataTable thead>tr>th.sorting:before,thead>tr>th.sorting_desc:before
{
  position: absolute;

  right: 250px !important;
   
}
.dataTables_info{
    margin-top: -6px !important;
}
.toHide{
    padding: 0% !important;
}
table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.display>tbody>tr.even>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1,table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1,
table.dataTable.display > tbody > tr.odd > .sorting_1{
    box-shadow: none !important;
    background-color: white !important;
}