table.dataTable tbody tr :nth-child(2) {
    color:#1188FF;
  }

.toolbar{
    float: left;
    padding: 15px;
   
}
.dataTables_filter{
    padding: 15px;
}
table.dataTable tbody tr th:first-child{
    text-align: left ;
}
table.dataTable th {
    background-color: black;
    color: white;
    border-right: none;
    
}
.styl{
    width: 50px;
}
table{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
  table.dataTable td.dt-control:before {
    
    content: "-";
    background-color:white !important ;
    color: #326C96 !important;
    box-shadow: 0 0 0.2em #326C96 !important;
    margin-top: 4px !important;
  }

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background-color: black !important;
    padding: 0%;
    color: white !important;
    
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0% !important;
    margin-left: 0px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
    color: white !important;
}
input[type=checkbox]:checked{
    accent-color: green;
}