

.toolbar{
    float: left;
    padding: 15px;
   
}

table.dataTable th {
    background-color:black;
    color: white;
    border-right: none;
    
    
}

#stock_filter{
    margin-top: 15px;
}
#Addstockmodel{
    margin-right: 10px;
}
    
.btn{
    background-color: #326C96;
    color: white;
}


  table.dataTable td.dt-control:before {
    background-color:white ;
    color: #326C96;
    box-shadow: 0 0 0.2em #326C96;
    margin-top: 4px;
    
}
table.dataTable tr.dt-hasChild td.dt-control:before {
    content: "-";
    background-color:white ;
    color: #326C96;
    box-shadow: 0 0 0.2em #326C96;
    margin-top: 4px;
}
table{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
table.dataTable tbody tr td:first-child{
    text-align: center ;
}
table.dataTable tbody tr td:nth-child(2) {
    text-align: left;
  }
table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after {
    opacity: .0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background-color: black;
    padding: 0%;
    color: white !important;
    
}
table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 50%;
    content: "";
}
