

.toolbar{
    float: left;
    padding: 15px;
   
}

table.dataTable th {
    background-color:black;
    color: white;
    border-right: none;
    
    
}

#stock_filter{
    margin-top: 15px;
}
#Addstockmodel{
    margin-right: 10px;
}
    
/* .btn{
    background-color: #326C96;
    color: white;
} */


  table.dataTable td.dt-control:before {
    background-color:white ;
    color: #326C96;
    box-shadow: 0 0 0.2em #326C96;
    margin-top: 4px;
  
    
}
table.dataTable tr.dt-hasChild td.dt-control:before {
    content: "-";
    background-color:white ;
    color: #326C96;
    box-shadow: 0 0 0.2em #326C96;
    margin-top: 4px;
    
}
table.dataTable td.dt-control:before {
    background-color: white;
    color: #326C96;
    box-shadow: 0 0 0.2em #326c96;
    margin-top: 4px;
    margin-right: 10px;
}
table{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
table.dataTable tbody tr td:first-child{
    text-align: center ;
}
table.dataTable tbody tr td:nth-child(2) {
    text-align: left;
  }
table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after {
    opacity: .0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background-color: black;
    padding: 0%;
    color: white !important;
    
}
table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 50%;
    content: "";
}
a.btn{
    align-items: center;
}
.modal-footer{
    justify-content: left;
    
}
#Addstockmodel,#addstockdatais,#addpartdatais{
    background-color: #326C96;
    color: white;
}
#addpartdataidcancle,#addstockdataidcancle{
    border: 1px solid #CFD3D8;
    color: gray;
}
.dataTables_info {
    color: inherit;
    margin-left: 1060px;
}
.toHide{
    padding: 0% !important;
}
.fa.fa-history{
    color: #878585;
    margin-left: 10px;
}
.fa.fa-pencil{
    color: #878585;
}


/* Date */
input[type="date"]:before {
    color: transparent;
    background: none;
    cursor: pointer;
    font-family: 'FontAwesome';
    content: '\f073';
    width: 15px;
    height: 20px;
    position: absolute;
    right: 6px;
    color: #999;
  }
  input#etadate{
    position:relative;
    display: inline-block;
  }
  input#etadate::-webkit-calendar-picker-indicator{
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  
  .btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    background-color:#3F759C !important;
    color: white !important;
  

  }
.btn-group {
    border: 1px solid gray;
 
}
label.btn{
    margin-bottom: 0px !important;
}