body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}

h3 {
    float: left;
}

#example_info {
    position: relative;
    left: 1011px;
}


.container-fluid {
    background-color: white;
}

.form-input {

    height: auto;
    text-indent: 33px;
    border-radius: 10px;
    float: right;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

table.dataTable td.dt-control:before {
    height: 1em;
    width: 1em;
    margin-top: -9px;
    display: inline-block;
    color: #316ab1 !important;
    border: 0.15em solid #316ab1 !important;
    border-radius: 1em;
    /* box-shadow: 0 0 0.2em #444; */
    box-sizing: content-box;
    text-align: center;
    text-indent: 1 !important;
    font-family: "Courier New", Courier, monospace;
    line-height: 1em;
    content: "+";
    background-color: #dee2e6 !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(230, 230, 230, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: black !important;
}

/* .paginate_button.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #0e0e0e;
    border-color: #181818;
} */


#example_length {
    display: none;
}

#example_filter {
    display: none;
}

/* ul li:hover .underline {
    background-color: rgb(17, 10, 10);
    width: 60%;
} */


/* .form-input:focus{

box-shadow: none;
border:none;
} */
/* .container-fluid{
background-color: grey;
} */