/* login css */
#loginbackground {
  right: 58%;
}

.buttonColor {
  background-color: #326C96
}

.historyTextcolor{
  color: #326C96;
}

.buttonColor:hover,
.buttonColor:focus,
.buttonColor:active,
.buttonColor.active {

  background-color: #326C96
}

label.error {
  color: red;
}

.textColor {
  color: black;
  background-color: transparent;
  text-decoration: none;

}
a {
  text-decoration: none;
}

.active {
  border-bottom: 2px solid black;
  height: 65px;
  color: black;
  font-weight: bold;
}

.LineUnderWelcome {
  width: 10%;
  border: 1px solid#326C96;
  background-color: #326C96;
  opacity: 1;
}

#loginuserImage {
  width: 50px;
  height: 50px;
  border-radius: 50%
}
#welcomefont{
  font-size: 12px;
}

button.btn.btn-outline-secondary.cancelbtn:hover{
  background-color: white !important;
  color: gray!important;
}
/* datatable css */
div.table-responsive .datatableStyle th {
  color: white;
}

div.table-responsive .datatableStyle thead {
  background-color: black;
  border-collapse: collapse;
  border-radius: 5px;

}

div.table-responsive table{
  font-size: small;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

#dashboardTable th.sorting.sorting_asc::before{
   
  margin-right: 52%;
}
#dashboardTable th.sorting.sorting_asc::after{
 
  margin-right: 52%;
}
#dashboardTable th.sorting.sorting_desc::after{
 
  margin-right: 52%;  
}
#dashboardTable th.sorting.sorting_desc::before{
 
  margin-right: 52%;
}
#dashboardTable th.sorting::before{
  margin-right: 52%;
}
#dashboardTable th.sorting::after{
  margin-right: 52%;
}


/*datatable pagination css */
.page-item.active .page-link {
  background-color: black !important;
  border-color: black !important;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0% !important;
  margin: 0% !important;

}
li.paginate_button.page-item.active {
  background: none !important;
  border: none !important;
}
li.paginate_button.page-item:hover {
  background: none !important;
  border: none !important;
}

.dataTables_info {
  margin-left: 75%;
}
.AddColor {
  color: rgb(95, 159, 248);
}

/* status css */

table.dataTable td.dt-control:before {
  background-color: white !important;
  color: #326C96 !important;
  border: 0.15em solid #326C96 !important;
  margin: 3px;
}

table.dataTable td.dt-control {
  text-align: start !important;
  color: rgb(95, 159, 248);
  padding-right: 3px;
}



input[type=checkbox]:checked {
  accent-color: green;
}

div.table-responsive #statusChildData th {
  color: gray;
}

div.table-responsive #statusChildData thead {
  background-color: rgb(220, 223, 232);
  border-collapse: collapse;
  border-radius: 5px;
  
}

div.table-responsive table #statusChildData{
  font-size: small;
  border-radius: 5px;
  overflow: hidden;
}


#statusTable th.sorting.sorting_asc::before{
   
  margin-right: 30%;
}
#statusTable th.sorting.sorting_asc::after{
  margin-right: 30%;
}
#statusTable th.sorting.sorting_desc::after{
 
  margin-right: 30%;
}
#statusTable th.sorting.sorting_desc::before{
 
  margin-right: 30%;
}
#statusTable th.sorting::before{
  margin-right: 30%;
}
#statusTable th.sorting::after{
  margin-right: 30%;
} 

/* stock css */

/* table #partTable{
      font-size: small;
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
   }

table #partTable thead{
  background-color: rgb(228, 232, 235);
  border-collapse: collapse;
}

table #partTable thead th{
  color: gray;
} */

div.table-responsive #childpartTable th {
  color: gray;
}

div.table-responsive #childpartTable thead {
  background-color: rgb(220, 223, 232);
  border-collapse: collapse;
  border-radius: 5px;
  
}

div.table-responsive table #childpartTable{
  font-size: small;
  border-radius: 5px;
  overflow: hidden;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #326C96 !important;
  border-color: #326C96 !important; 
}
a.editor-create {
  display: inline-block;
  margin-bottom: 0.5em;
}
#partnumber .btn:hover{
    text-decoration: none;
    border: none;
}


.popover-body{
  padding: 0%;
  margin: 3% 0% 0% 0%;
 
}


/* Date */
input[type="date"]:before {
  color: transparent;
  background: none;
  cursor: pointer;
  font-family: 'FontAwesome';
  content: '\f073';
  width: 15px;
  height: 20px;
  position: absolute;
  right: 6px;
  color: #999;
}
input#etaDate{
  position:relative;
  display: inline-block;
}
input#etaDate::-webkit-calendar-picker-indicator{
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}



/* Select 2  */

.select2-dropdown{
  z-index: 1100 !important;
  
}
.select2-container{
  width: 100% !important;
}

/* historyPagination */
nav.historyPagination a.page-link{
  color: black !important;
}
nav.historyPagination span{
  color: black !important;
}


/* changebutton */
.statusdropdown
{
  width: 60px;
  font-size: smaller;
  border: 1px solid #326C96;
  border-radius: 5px;
  background-color: white;
  margin-right: 8px;
  color: #326C96;
	/* inline SVG */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 2px center;
  background-repeat: no-repeat;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 3px;
  padding-right: 3px;
}

.optiondata{
  margin: auto;
  
}
/* NAvbar */

/* .navbar-nav .nav-link {
  position: relative;
} */
/* 
.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 33%;
  height: 2px;
  bottom: -23px;
  top: 47px;
  left: 18px;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
 
}

.navbar-nav .nav-link.active::before {
  visibility: visible;
  transform: scaleX(1);
}
 */
  
 .btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
  background-color:#3F759C !important;
  color: white !important;
  border: 1px solid grey;

}

.popover-header{
  background-color: white !important;
 padding-left: 11px;
 padding-bottom: 0%;
}