#newbuttonassignment{
    background-color: #326C96;
  }
  #Assignment_btn{
    background-color: #326C96;

  }
  /* .navbar a.active{
    border-bottom: 1px solid #000000;
  } */
  /* .dataTables_length,.dataTables_info{
    display: none;
  }
  #example_filter{
    display: none;
  } */
  .navbar-nav .nav-link {
    position: relative;
  }
  
  .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 33%;
    height: 2px;
    bottom: -23px;
    left: 29px;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
     /* transition: all 0.3s ease-in-out 0s; */
  }
  
  .navbar-nav .nav-link.active::before
  {
    visibility: visible;
    transform: scaleX(1);
  }
/* table.dataTable td.dt-control:before {
    background-color: white;
    color: #3F759C;
    border-color: #3F759C;
  } */

  #assignment_table.dataTable td.dt-control:before {
    background-color: #3F759C;
    color: white
  }

  table.dataTable td.dt-control:before {
    background-color: white;
    color: #3F759C 
  }