
.img_round{
  height: 70%;
  width: 37%;
}

/* .navbar a.active{
    border-bottom: 1px solid #000000;
  }
   */
  #status_table.dataTable td.dt-control:before {
    background-color: white;
    color: #3F759C;
    border-color: #3F759C;
  }
  input:checked ~ .checkmark {
    background-color: pink;
  }
 
   .fa-arrow-right-from-bracket:before, .fa-sign-out:before {
    color: #707060;
}
 
input[type=checkbox]:checked{
  accent-color: green;
}
.pagination .page-item.active .page-link{
  background-color: black;
  border-color: black;
 } 
 table{
  font-size: small;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: white;
  
}
thead{
  background-color: black;
  color: white;
}
.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 33%;
  height: 2px;
  bottom: -23px;
  left: 29px;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
   /* transition: all 0.3s ease-in-out 0s; */
}

.navbar-nav .nav-link.active::before
{
  visibility: visible;
  transform: scaleX(1);
}


/* .dataTables_info{
  margin-left: 77%;
} */
