

/* .dataTables_length,.dataTables_info{
  display: none;
}
#example_filter{
  display: none;
} */
.img_round{
  height: 70%;
  width: 37%;
}

.navbar a.active{
    border-bottom: 1px solid #000000;
  }
  

 
  /* .pagination .page-item.active .page-link{
    background-color: black;
    border-color: black;
   }  */
   /* .dataTables_wrapper .paginate .current a {
    background-color: black;
    border-color: rgb(0, 0, 0);
} */

  #status_table.dataTable td.dt-control:before{
    background-color: #3F759C;
  }
  input:checked ~ .checkmark {
    background-color: pink;
  }
 
   .fa-arrow-right-from-bracket:before, .fa-sign-out:before {
    color: #707071;
}
 /* .paginate_button.current {
  background-color: black;
  color: white;
} */

/* .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background-color: black;
  color: white;
} */
/* .dataTables_paginate .paginate_button.current {
  background-color: black !important ;
  color: white !important;
} */
input[type=checkbox]:checked{
  accent-color: green;
}
.pagination .page-item.active .page-link{
  background-color: black;
  border-color: black;
 } 
 table{
  font-size: small;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: white;
  
}
thead{
  background-color: black;
  color: white;
}
/* 
@media screen and (max-width: 574px) {
  
    .navbar_list {
       padding-left: 0px;
      }
  } */