.container-fluid{
    background-image: linear-gradient(to bottom right, lightblue, purple);
    width: 100%;
}
h2{
    color: blue;
    margin-left: 450px;
}
img{
    height: 200px;
    width: 100px;
}
label.error{
    color: red;
}