body {
    background-color: #DBF9FC;
    }
    table{
        text-align: center;
    }
    img {
        border: 2px solid rgb(30, 28, 179);
      }
      table, th, td {
        border: 2px solid grey;
        border-collapse: collapse;
        border-style: groove;
        border-color: grey;
      }
      th, td {
        background-color: #8aa3a3;
      }
      th, td{
        font
      }