
.container{
    background-color: rgb(216, 211, 211);

}

.error1{
    font-size: 15px;
    color: rgb(205, 8, 8);
}
.btn_c {
    width:27%;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.mover{
    background-color:palevioletred;
}
.appBtn{
    /* display: none; */
    width:27%;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.hide{
    display: none;
}