.navbar-nav .nav-link {
    position: relative;
  }
  
  .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 33%;
    height: 2px;
    bottom: -20px;
    left: 15px;
    background-color: #90D2EB;

    visibility: hidden;
    transform: scaleX(0);
     /* transition: all 0.3s ease-in-out 0s; */
  }
  
  .navbar-nav .nav-link.active::before
  {
    visibility: visible;
    transform: scaleX(1);
  }
  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #90D2EB !important;
  }
  #logo{
    border: none;
  }
 /* includes dragula.css */
#container1{
    font-family: Avenir;
    background-color: #EAEAEA;
    margin-top: 10px;
    padding: 25px;
  }
  #container2 {
    font-family: Avenir;
    background-color: #EAEAEA;
    margin-top: 10px;
    padding: 25px;
    
  }
  .card1{
    margin-top: 25px;
    margin-left: 25px;
  }
  .card2{
      margin-top: 25px;
    margin-right: 25px;
  }
  .row {
    border: 1px solid black; /* Add a border around each li */
    box-sizing: border-box; /* Include the border in the width */
  }

  .row td {
    padding: 10px; /* Add some padding inside each td */
  }
  .row {
    border: 1px solid black; /* Add a border around each li */
    box-sizing: border-box; /* Include the border in the width */
    margin-bottom: 10px; /* Add a 10px gap between each li */
  }
  
  .row td {
    padding: 10px; /* Add some padding inside each td */
  }
 
  #table-body {
width: 40%;
margin-right: 15px;
  }
  .list-group-item{
    margin-bottom: 10px;
  }
  /* table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    padding: 8px;
  }
  
  tr {
    border: 2px solid rgb(12, 10, 10); 
  } */
  
  /* .table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  
  .row {
    display: table-row; 
  }
  
  .cell {
    display: table-cell; 
    border: 1px solid black;
    padding: 8px;
  } */
  
  
 