.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 51%;
  height: 2px;
  bottom: -13px;
  left: 13px !important;
  background-color: #8CCFEB;
  visibility: hidden;
  transform: scaleX(0);
}

.navbar-nav .nav-link.active::before {
  visibility: visible;
  transform: scaleX(1);
}

.navdiv {
  height: 52px;
}

.btn.active {
  background-color: #3CB7E7 !important;
  color: white !important;
}

.material-icons{
  font-size: 14px !important;
}

.o-hidden {
  overflow:hidden;
}

.nav {
  transition: transform 0.4s;
  transform: translateX(50%);
  left: -50%;
}

.nav.justify-content-end {
  transform: translateX(0);
  left: 0;
}

.Masterclass {
  cursor: move;
  margin: 6px;
  padding: 5px;
  border: solid 2px;
  border-color: gainsboro;
  font-size: small;
}


.LikelyDiv{
  margin: 6px;
  padding: 5px;
  border: solid 2px;
  border-color: gainsboro;
}

 #MasterlistSearch{
    margin: 6px;
    padding: 7px;
    border: solid 2px;
    border-color: gainsboro;
    font-size: small;
    width: 94%;
 
 
} 

#DestinationAccountStructure::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#DestinationAccountStructure::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#DestinationAccountStructure::-webkit-scrollbar-thumb {
  background-color: #F90;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)
}

#SourceScollBar {
  border: solid 2px;
  border-color: gainsboro;
  margin-left: 6px;
  margin-right: 15px;
  font-size: small;
}