table {
    width: 50%;
    font-size: 20px;
    
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

  }

  table,
  th,
  td {
    border: 1px solid blue;
  }

  .slide{
      text-align: left;
      background-color: gray;
  }

  #changefont{
    color: red;
  }
  #changefont1{
    color: red;
  }
  #changefont2{
    color: red;
  }
  #changefont3{
    color: red;
  }
  #changefont4{
    color: red;
  }
  #changefont5{
    color: red;
  }
  #changefont6{
    color: red;
  }