.container-fluid{
    background-color: lightpink;
}
.modal-body{
    background-color: lightslategrey; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, lightslategrey , lightpink);
}
label.error{
    color: red;
}