body{
    background-image: linear-gradient(to right top, #dc1de7, #ff008e, #ff6533, #ffb800, #b1f218);
}

.container{
    background-color: rgb(216, 211, 211);
    border-radius: 15px;
}

.error1{
    font-size: 12px;
    color: rgb(205, 8, 8);
}
.btn_c {
    width:27%;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.mover{
    background-color: aquamarine;
}
.appBtn{
    /* display: none; */
    width:27%;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}