table, th, td {
    border:1px solid black;
    border-collapse:collapse;
    background-color: lightblue;
    border-color: cadetblue;
   
 
  }
  #row1{
    color: blue;
    border: none;
    text-align: center;
    border-top: 2px solid white;
    border-right: 2px solid white;
  }
  .row2{
    text-align: center;
    border-right: 2px solid white;
  }
  img{
    border: 2px blue solid;
    /* border-style: groove;
    border-width: 7px; */
   
    }

    .main{
        background-color: lightblue;
        padding: 5px;
    }
   
