
#Stockable thead tr th {
    background-color: black;
    color: white;
}

#childtable thead tr th{
    background-color: #F5F6FA !important;
    color: black !important;
}

#table2 thead tr th {
    background-color: black;
    color: white;
}
.datatable-pagination {
    margin-top: 20px;
}
#Stockable_filter {
    margin-bottom: 25px;
}
.toolbar {
    float: left;
}
#Stockable tr:last-of-type td:last-child {
    border-bottom-right-radius: 10px;
}
#Stockable tr:last-of-type td:first-child {
    border-bottom-left-radius: 10px;
}

#Stockable td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
    text-align: center;
}
#table2 {
    border-collapse: collapse;
}
#table2 th,
#table2 td {
    border: 1px solid black;
    padding: 8px;
}

#main {
    background-color: #F8F8F8;
}

tbody {
    background-color: white;
}


#Stockable thead tr th {
    background-color: black;
    color: white;
  }

  .datatable-pagination {
    margin-top: 20px;
  }

  #Stockable_filter {
    margin-bottom: 25px;
  }

  .toolbar {
    float: left;
  }

  #Stockable tr:last-of-type td:last-child {
    border-bottom-right-radius: 10px;
    
  }

  #Stockable tr:last-of-type td:first-child {
    border-bottom-left-radius: 10px;
  }


  #Stockable td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5),
  td:nth-child(6) {
    text-align: center;
  }

  table.dataTable thead>tr>th.sorting:before,
  table.dataTable thead>tr>th.sorting:after,
  table.dataTable thead>tr>th.sorting_asc:before,
  table.dataTable thead>tr>th.sorting_asc:after,
  table.dataTable thead>tr>th.sorting_desc:before,
  table.dataTable thead>tr>th.sorting_desc:after,
  table.dataTable thead>tr>th.sorting_asc_disabled:before,
  table.dataTable thead>tr>th.sorting_asc_disabled:after,
  table.dataTable thead>tr>th.sorting_desc_disabled:before,
  table.dataTable thead>tr>th.sorting_desc_disabled:after,
  table.dataTable thead>tr>td.sorting:before,
  table.dataTable thead>tr>td.sorting:after,
  table.dataTable thead>tr>td.sorting_asc:before,
  table.dataTable thead>tr>td.sorting_asc:after,
  table.dataTable thead>tr>td.sorting_desc:before,
  table.dataTable thead>tr>td.sorting_desc:after,
  table.dataTable thead>tr>td.sorting_asc_disabled:before,
  table.dataTable thead>tr>td.sorting_asc_disabled:after,
  table.dataTable thead>tr>td.sorting_desc_disabled:before,
  table.dataTable thead>tr>td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 0.600;
    right: 50% !important;
    line-height: 9px;
    font-size: 0.8em;
  }

  #Stockable_info {
    position: relative;
    right: -74%;
  }

  .page-item.active .page-link {
    background-color: black !important;
    border-color: black !important;
    color: white;

  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0% !important;
    margin: 0% !important;

  }

  

  .navdiv{
    height: 52px;
  }

  .dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
    position: relative;
    left: 75%;
}

table.dataTable td.dt-control:before {
  height: 1em;
  width: 1em;
  margin-top: -9px;
  display: inline-block;
  color: #326C96 !important;
  border: 0.1em solid #326C96 !important;
  border-radius: 1em;
  box-shadow: 0 0 0.2em #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New",Courier,monospace;
  line-height: 1em;
  content: "+";
  background-color: white !important;
  margin-right: 10px;
}


.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 33%;
  height: 2px;
  bottom: -15px;
  left: 19px !important;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
}

.navbar-nav .nav-link.active::before
{
  visibility: visible;
  transform: scaleX(1);
}

label.error{
  color: red;
}