.my-div {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 34px;
    width: 268px;
  }
  
  .my-div span {
    font-size: 18px; /* adjust the font size as needed */
    line-height: 34px; /* sets the line height to the same as the div height */
  }

  .password-input-container {
    position: relative;
  }
  
  #password-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  #password-icon {
    font-size: 20px;
  }
  

  
  