
.mainbody{
    margin:2% 30%;
    overflow: hidden;
    height: 91vh;
    
    
}
#main{
    box-shadow: 0 3px 3px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow:scroll;
    overflow-x: hidden;
}
.margin{
    margin: 20px 10%;
    
}
#subtittle{
    color: rgb(121, 120, 120);
    font-size: 1.2rem;
}
hr{
    color: rgb(121, 120, 120);
}
#top{
    height: 3px;
}
.subtext{
    color: rgb(121, 120, 120);
}
label{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(36, 35, 35);
}
.mainrow{
    padding-top: 50px;
}
.signature-box {
    border: 1px solid #968f8f ;
    border-radius: 6px;
    width: 100%;
    height: 100px;
    overflow: hidden;
  }  
  #btn{
    background-color :#95a0e4;
  }  

  .blank{
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(184, 181, 181);
    width: 110px;       
}
#specialRate{
    width: 110px; 
    border: 1px solid rgb(184, 181, 181); 
    border-radius: 5px;

}
ul li{
    list-style-type: disc
}
small{
    color: red;
    font-size: medium;

}
label.error{
    color: red;
}
