body{
overflow-x: hidden;
}
#profileImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10%;
}
/* .mainbody {
    margin-left: 3% !important;
    margin-right: 0% !important;
    overflow: hidden;
} */
.navbar{
    background-color: rgb(239,239,240);
}
.navItemdiv{
    margin-left: 10%;
}
#companylogo{
    width: 150px;
}
.active{
    font-weight: bold;
    color:rgb(60,183,231) !important;
    border-bottom: 2px rgb(60,183,231) solid;
}
.accountTypebtn{
    background-color: rgb(218, 216, 216) !important;
    font-weight: bold !important;
    color: gray !important;
    box-shadow:  2px 2px 5px rgb(218, 218, 218);;
}
#submitbtn{
    background-color: rgb(13, 143, 13);
    color: white;
    padding: 7px 30px;
    float: right;
}
#SourceAccountColumn{
    width: 25%;
    border: 10xp black solid;
}
.dragableDiv{
    border: 2px gray solid;
    margin: 3%;
    padding: 2%;
}

.activebtn{
    background-color: rgb(60,183,231) !important ;
    color: white !important;
}
#ScorceAccountTopheading,#MostlikelyTopheading,#DestinationAccountTopheading{
    font-size: 1.5rem;
}
.columns{
    width: 20%;
}

.heading{
    font-weight: bold;
    color: white;
    padding: 0.3% 1%;
    padding-left: 1%;
    border-radius: 4px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#headingSourceAccount{
    background-color:rgb(60,183,231) ;
    padding-top: 1% !important;
    padding-bottom: 1.5% !important;
}
.humanUpdate{
    color: rgb(218, 148, 19);
    margin-left: 2%;
}

ul {
    list-style-type: none;
  }
.Item{
    border: 1px rgb(194, 191, 191) solid;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 4px;
}
#SourceAccountList{
    margin-top: 2%;
    padding-left: 0%;
}
  /* .d-flex{
    margin-right: 0% !important;
  } */
.DropArea{
    width: 60%;
}
#headingMostlikely,#headinglikely,#headingossible{
    width: 33%;
}
#headingMostlikely{
    background-color: #00c0cd;
}
#headinglikely{
    background-color: #33cdd7;
}
#headingossible{
    background-color: #7fdfe6;
}
#headingDestinationAccount{
    background-color: #0d9d66;
    padding-top: 1%;
    padding-bottom: 1%;
}
#DestinationAccountList{
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0%;
}

/* .DestinationbtnsLists{
    overflow-x: auto;
    width: 200px;
    display: inline-block;
} */
#Desbuttonslist{
    overflow-x: auto;
    display: flex;
    height: auto;
}
/* #forwordbtn{
    position: absolute;
    right: 25.5%;
    top: 26.7%;
} */
#Desbuttonslist::-webkit-scrollbar {
    display: none;
  }
button#forwordbtn {
    padding-top: 5px;
}
button#backwordbtn {
    padding-top: 6px;
}
.Destinationbtns #forwordbtn{
 position: absolute;
 }
 .horizontalDesBtn{
    padding-left: 10px;
 }
 .horizontalDesBtn,#forwordbtn,#backwordbtn{
    background-color: white;
    border: none;
    font-weight: bold;
 }
 .Destinationbtns{
    border: 1px rgb(187, 184, 184) solid;
    position: relative;
 }
 .Destinationbtns #forwordbtn,.Destinationbtns #backwordbtn {
    position:absolute;
 }
 #backwordbtn {
    right: 0px;
    top: 0;
}
.doubleRight{
    float:right;
}
 .activeHorizontalbtn{
    color: #0d9d66;
    border-bottom: #0d9d66 solid;
 }
