#profileImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10%;
}
.mainbody {
    margin-left: 3% !important;
    /* overflow: hidden; */
}
.navbar{
    background-color: rgb(239,239,240);
}
.navItemdiv{
    margin-left: 10%;
}
#companylogo{
    width: 150px;
}
.active{
    font-weight: bold;
    color:rgb(133,205,234) !important;
    border-bottom: 2px rgb(133,205,234) solid;
}
.accountTypebtn{
    background-color: rgb(218, 216, 216) !important;
    font-weight: bold !important;
    color: gray !important;
    box-shadow:  2px 2px 5px rgb(218, 218, 218);;
}
#submitbtn{
    background-color: rgb(13, 143, 13);
    color: white;
    padding: 7px 30px;
    float: right;
}
#SourceAccountColumn{
    width: 25%;
    border: 10xp black solid;
}
.dragableDiv{
    border: 2px gray solid;
    margin: 3%;
    padding: 2%;
}

.activebtn{
    background-color: rgb(60,183,231) !important ;
    color: white !important;
}
#ScorceAccountTopheading,#MostlikelyTopheading,#DestinationAccountTopheading{
    font-size: 1.5rem;
}
.columns{
    width: 20%;
}

.heading{
    font-weight: bold;
    color: white;
    padding: 0.3%;
    padding-left: 1%;
    border-radius: 4px;
}
#headingSourceAccount{
    background-color:rgb(60,183,231) ;
}

ul {
    list-style-type: none;
  }
.Item{
    border: 1px rgb(194, 191, 191) solid;
    margin-bottom: 1%;
    padding: 1%;
}
#SourceAccountList{
    margin-top: 2%;
    padding-left: 0%;
}
  /* .d-flex{
    margin-right: 0% !important;
  } */
.DropArea{
    width: 60%;
}
#headingMostlikely,#headinglikely,#headingossible{
    width: 33%;
}
#headingMostlikely{
    background-color: #00c0cd;
}
#headinglikely{
    background-color: #33cdd7;
}
#headingossible{
    background-color: #7fdfe6;
}
#headingDestinationAccount{
    background-color: #0d9d66;
}
#DestinationAccountList{
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
}
.Destinationbtns{
    width: 100%;
    overflow: hidden;
    height: 50px;
    overflow-x: scroll;
}
#forwordbtn,#backwordbtn
/* {
    display: inline;
} */
ul #Desbuttonslist{
    overflow: auto;
}
.Destinationbtns ul li{
    display: inline-block;
}
