/* navbar brand style */
.container-fluid{
    width: 100%;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: hwb(199 32% 9%);
    font-weight: bold;
    margin-left: 80px;
}
/* img style */
#standardizerlogoid
{
 height: 60px;
 width: 160px;
}
#adminimage
{
  height: 50px;
  width: 50px;
  margin-left: 950px;
}
.navbar{
  padding: 0%;
  margin: 0%;
}

/* btn style */
.btn {
    background-color: #F2F2F2;
    color: black;
  }
  
  .btn.active {
    background-color:#51B7E7;
    color: white;
  }
  .btngroup
  {
    margin-left: 10px;
    margin-top: 20px;
  }
  /* 5grid style */
  .info
  {
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
  }
 
  .BSA
  {
    background-color:#4BA5E5;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
  .mostlikely
  {
    background-color:#53C1CD;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
  .likely
  {
    background-color:#58CDD7;
    padding: 5px;
    border-radius: 5px;
    margin-top: 28px;
    color: white;
  }
  .possible
  {
    background-color:#7FDFE6;
    padding: 5px;
    border-radius: 5px;
    margin-top: 28px;
    color: white;
  }
  .BSAA
  {
    background-color:#3E9D66;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
  /* underline */
  .navbar-nav .nav-link {
    position: relative;
  }
  
  .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 37%;
    height: 2px;
    bottom: -13px;
    left: 17px;
    background-color: #51B7E7;
    visibility: hidden;
    transform: scaleX(1);
  }
  
  .navbar-nav .nav-link.active::before
  {
    visibility: visible;
    transform: scaleX(1);
  }
  /* search style */
  #searchid
  {
    width: 312px;
    height: 35px;
    border-radius: 5px; 
    border: 1px solid gray;
    
  }
.divclass
{
  border: 1px solid gray;
  margin: 2px;
  padding: 5px;
  
}
.mostlikelyclass,.likelyclass,.Possibleclass
{
  border: 1px solid gray;
  margin: 2px;
  padding: 17px;
  
}
.material-icons
{
  font-size: 15px;
}

/* human updated */
.ovel
{
  height: 10px;
  width: 10px;
  color: orange;
}
/* navbar for Master account details */
.o-hidden {
  overflow:hidden;

}

.nav {
  transition: transform 0.10s;
  transform: translateX(30%);
  left: -50%;

}

.nav.justify-content-end {
  transform: translateX(0);
  left: 0;  
  
}



/* submit button */
#submit
{
  background-color: #3E9D66;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  margin-left: 325px;
}
.content
{
  font-size: small;
  color: gray;
  margin-left: 160px;
}