aside li{
    list-style: none;
    }
    .container2{
        border: 1px solid black;
        width: 300px;
        height: 500px;
        margin: 4px;
        background-color: rgb(47, 45, 45);
        color: white;
        box-shadow: 1px 1px 1px 1px grey;
    }
    .container2 li{
        margin: 13px;
        font-size: 18px;
    
    }
     li :hover{
        background-color: rgb(193, 18, 18);
    }
    .container1{
        display: flex;
    }
    
    .formdesign{
    margin-left: 10px;
    margin-top: 30px;
    
    }
    
    .button{
        width: 65px;
        height: 25px;
        margin-top: 30px;
        margin-left: 10px;
    
    }
    
    .bor1{
        width: 310px;
        height: 510px;
        border: 1px solid black;
    }