header{
    margin: 30px;
    margin-left: 400px;
}

.aud{

    margin: 0px;
    margin-top: -9px;
    margin-left: 392px;
    width: 400px;
    height: 65px;
}

.vid{
    margin-left: 397px;
    width: 300px;
}