img{
    border: 1px solid blue;
    border-collapse: collapse;
    text-align: center;
    width: 150px;
    height: 100px;
}
   
td{
            
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
}
th {
    color: blue;
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
}

table{
    border-collapse: collapse;    
    
}