* {}

#loginbackground {
  right: 58%;
}


/* @media only screen and (max-width: 1000px) {
  .logo {
    display: none;
  }
}  */
.buttonColor {
  background-color: #326C96
}

.buttonColor:hover,
.buttonColor:focus,
.buttonColor:active,
.buttonColor.active {

  background-color: #326C96
}

label.error {
  color: red;
}

.textColor {
  color: black;
  background-color: transparent;
  text-decoration: none;

}

a {
  text-decoration: none;
}

.active {
  border-bottom: 2px solid black;
  height: 65px;
  color: black;
  font-weight: bold;
}

.LineUnderWelcome {
  width: 10%;
  border: 1px solid#326C96;
  background-color: #326C96;
  opacity: 1;
}

#loginuserImage {
  width: 50px;
  height: 50px;
  border-radius: 50%
}