th {
    color: white;
}

thead {
    background-color: black;
    border-collapse: collapse;
    border-radius: 1em;
}

table {
    font-size: small;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

table.dataTable td.dt-control:before {
    background-color: white !important;
    color: #326C96 !important;
    border: 0.15em solid #326C96 !important;

}

table.dataTable td.dt-control {
    text-align: start !important;
    color: rgb(95, 159, 248);
}

.page-item.active .page-link {
    background-color: black !important;
    border-color: black !important;
    color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0% !important;
    margin: 0% !important;

}

li.paginate_button.page-item.active {
    background: none !important;
    border: none !important;
}

li.paginate_button.page-item:hover {
    background: none !important;
    border: none !important;
}

.dataTables_info {
    margin-left: 75%;
}

input[type=checkbox]:checked {
    accent-color: green;
}

table #statusChildData {
    font-size: small;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;

}

#statusChildData thead {
    background-color: rgb(228, 232, 235);
    border-collapse: collapse;
}

table #statusChildData thead th {
    color: gray;
}