#example th {
    color: white;
}
#example thead {
    background-color: black;
    border-collapse: collapse;
    border-radius: 1em;  
}
#example table{
   font-size: small;
   border-collapse: collapse;
   border-radius: 1em;
   overflow: hidden;
}

/* #StockStatus .btn-check :active{
    background-color: #326C96;
    color: white;
} */

