body{
    background-color: skyblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, skyblue , purple);
}
h3{
    color: white;
}
label.error{
    color: red;
}