body{
    font-family:sans-serif; 
}
form{
    margin: 15%;
}
#mainheader_pg1,#subheader_pg1{
    text-align: center;
    font: 17.5px;
}
#note1_pg1{
    font-size: 13px;
    margin: 12px;
    padding: 12px;
}
#note2_pg1{
    font-size: 15px;
    margin-left: 3%;
    padding: 12px;
    text-indent: -20px; 

}
#ins{
    color: gray;
    margin-left: 2%;

}
#part1_pg1{
    margin-left: 2%;
    font-weight: bolder;
    font-size: 19px;
}
#ins1{
    color: gray;
    margin-left: 0.5%;
    font-size: smaller;
}
.label{
    text-indent: -15px; 
    margin-left: 5%;
}
.field1{
    margin: 1.5%;
    padding: 1.5%;
}
.pt4{
    margin: 1.5%;
    padding: 1.5%;
}
.c_pt4{
    margin-left: 3%;
}
.c1_pt4{
    margin-left: 4%;
}
.sublabel_pg1{
    min-height: 10px; 
    margin-left: 4%; 
    margin-top: 0; 
    color: gray;
}
.sublabel1_pg1{
    min-height: 10px; 
    margin-left: 9%; 
    margin-top: 0; 
    color: gray;
}
#preview,#submit{
    width: 25%;
    margin: 1%;
}