body{
    font-family:sans-serif; 
}
form{
    margin: 2%;
}
#mainheader_pg1,#subheader_pg1{
    text-align: center;
    font: 17.5px;
}
#note1_pg1{
    font-size: 13px;
    margin: 12px;
    padding: 12px;
}
#note2_pg1{
    font-size: 15px;
    margin-left: 3%;
    padding: 12px;
    text-indent: -20px; 

}
