
  .container-fluid{
    margin-top:20px;
  }
  #button{
    margin-left:110px;
  }
  .navbar{
    height:70px;
}

.navbar a.active{
    border-bottom: 3px solid #000000;

  }
#p1{
    text-transform: capitalize;
    font-weight: bolder;
    
}
#name{
    margin-top:20px;
    margin-right:120px;
}
#welcome{
    color:gray;
    font-size:12px;
}
#logouticon{
    color:gray;
    font-size:15px;
}
#new{
 background-color:#1188FF;;
}
table{
  border-collapse: collapse;
  border-radius: 10px; 
  overflow: hidden;
}
.thead{
  background-color: #000000;
  color:white !important;
  height:40px;
  margin-top:50px;
}