.navbar{
    height:70px;
}

.navbar a.active{
    border-bottom: 3px solid #000000;

  }
#p1{
    text-transform: capitalize;
    font-weight: bolder;
    
}
#name{
    margin-top:20px;
    margin-right:120px;
}
#welcome{
    color:gray;
    font-size:12px;
}
#logouticon{
    color:gray;
    font-size:15px;
}
/* .navbar-brand{
    margin-left:50px;
} */
.navbar{
    background-color: white;
}
#tablebody{
    background-color: white;
}

.dataTables_length{
    display:none;
}
/* .dataTables_filter{
    display:none;
} */
/* table.rounded-corners {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
   } */
   .dataTables_info{
    margin-left:1100px;
   }
   table{
    border-collapse: collapse;
    border-radius: 10px; 
    overflow: hidden;
  }
 


  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: black;
    /* background: ; */
    /* background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
    background: linear-gradient(to bottom, #111 0%, #212529 100%);
 }
 

.paginate_button.previous{
    display:none;
}
.navbar-brand{
    margin-left:80px;
}
#t1{
    color:rgb(36, 169, 221);
}
#t2{
    color:rgb(36, 169, 221);
}
#t3{
    color:rgb(36, 169, 221);
}
#t4{
    color:rgb(36, 169, 221);
}
#t5{
    color:rgb(36, 169, 221);
}
#t6{
    color:rgb(36, 169, 221);
}
#t7{
    color:rgb(36, 169, 221);
}
#t8{
    color:rgb(36, 169, 221);
}
#t9{
    color:rgb(36, 169, 221);
}
#t10{
    color:rgb(36, 169, 221);
}
#t11{
    color:rgb(36, 169, 221);
}
#partnumber{
    width:100px;
}
#inwarehouse{
    text-align:center;
    width:300px;
 }
 #td1{
    text-align:center;
 }
 #td2{
    text-align:center;
 }
 #td3{
    text-align:center;
 }
 #td4{
    text-align:center;
 }
 #td5{
    text-align:center;
 }
 #td6{
    text-align:center;
 }
 #td7{
    text-align:center;
 }
 #td8{
    text-align:center;
 }
 #td9{
    text-align:center;
 }
 #td10{
    text-align:center;
 }
 #td11{
    text-align:center;
 }
 .rc{
    color:green;
 }
 .gc{
    color:red;
 }
 .fa-user{
    color:red;
 }
#p1{
    color:gray;
}
