.navbar{
  height:70px;
  background-color: white;
}
.navbar a.active{
  border-bottom: 3px solid #000000;
}
#p1{
  text-transform: capitalize;
  font-weight: bolder;
  
}
#name{
  margin-top:20px;
  margin-right:120px;
}
#welcome{
  color:gray;
  font-size:12px;
}
#logouticon{
  color:gray;
  font-size:15px;
}
.navbar-brand{
  margin-left:80px;
}
#new{
  margin-left:170px;
}
#modaltable{
  background-color: #000000;
  color:white;
}
#stocktable{
  background-color: #000000;
  color:white !important;
  height:40px;
}



.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: black;
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
  background: linear-gradient(to bottom, #0d0d0e 0%, #111212 100%);
}

.datatables_wrapper{
  display:none;
}
.sorting_1{
  color:#1188FF;
}
table.dataTable td.dt-control:before
{
   color:#326C96;
   background-color: white;
   border:1px solid #326C96;
}
.dataTables_info{
  margin-left:1100px;
}
.dataTables_length{
  display:none;
}
/* .dataTables_filter{
  display:none;
} */
.add-stock-modal{
  width:20% !important;
  margin-top: 70px !important;
  
}
table{
  border-collapse: collapse;
  border-radius: 10px; 
  overflow: hidden;
}
.row{
  margin-bottom:10px;
}
#new{
background-color: #326C96;
}
#savestock{
  background-color: #326C96;
}

table.dataTable tr.dt-hasChild td.dt-control:before{
  content: "-";
    background-color: #ffffff !important;
}
.partdetails{
  background-color:black;
  color:white;
  margin-top:20px;
}
.openhistory{
  cursor:pointer;
}
.dataTables_filter{
  margin-top:-4% !important;
}