body{
    background: radial-gradient(circle, rgba(238,174,202,1) 28%, rgba(148,187,233,1) 100%);
    }
    
    h2{
        background-color: rgb(32, 32, 32);
        text-align: center;  
    }
    /* button{
        text-align: center;
        align-items: center;
    } */