form .error {
    color: #ff0001;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#carouselExampleControls, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
   
  }
  
#carouselExampleControls {
    padding: 20px;
    display: none;
    padding-right: 100px;
   
  }

  