thead {
    background-color: black;
    border-collapse: collapse;
    border-radius: 1em;  
    
}
table{
   font-size: small;
   border-collapse: collapse;
   border-radius: 1.2em;
   overflow: hidden;
   background-color: white;
   
}
#example_length, #example_filter, #example_info {
    display: none;
}

.nav_logo {
    margin: 10px;
    height: 20px;
    width: 170px;
    padding-left: 20px;
}

.maintable {
    background-color: black;
    color: white;
    border: 1px;
}

.styl {
    height: 50px;
    width: 60px;
    padding-bottom: 10px;
}

.rounded-circle {
    width: 40px;
    height: 40px;
}

.navbar a.active {
    border-bottom: 3px solid #000000;

}

#logout {
    color: rgb(150, 147, 143);
    margin-top: 30px;
    margin-left: 30px;
}

#Uname {
    margin-right: 15px;
    margin-top: 5px;
}

#img {
    margin-right: 10px;
    margin-top: 13px;
}

#Uname {
    margin-right: 15px;
    margin-top: 7px;
}

#bade_logo {
    width: 100%;
    margin-left: -35px;
}

#production, #water, #warehouse {
    background-color: #326C96;
    color: white;
}

#save_outer {
    background-color: #326C96;
    color: white;
    width: 11%;
}
#close_outer {
    width: 11%;
    color: rgb(150, 147, 143);
}
#save_inner{
    background-color: #326C96;
    color: white;
    width: 15%;
}
#close{
    width: 17%;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.pagination a.active {
    background-color: black;
    color: white;
    border: 1px solid black;
  }
  #example.dataTable td.dt-control:before {
    background-color: white;
    color: #1188FF;
    border-color: #1188FF;
  }


  
