/* thead {
    background-color: black;
    border-collapse: collapse;
    border-radius: 1em;

}

table {
    font-size: small;
    border-collapse: collapse;
    border-radius: 1.2em;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
} */

#inner_table thead {
    background-color: black;
    border-collapse: collapse;
    border-radius: 1em;
}

#inner_table table {
    font-size: small;
    border-collapse: collapse;
    border-radius: 1.2em;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;

}

#StockTable thead {
    background-color: black;
    border-collapse: collapse;
    border-radius: 1em;

}

table #StockTable {
    /* font-size: small;
    border-collapse: collapse;
    border-radius: 1.2em;
    overflow: hidden;
    background-color: white;
    border: 1px solid black; */
    font-size: small;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.addPartBtn {
    border: 1px solid white;
    border-color: white;
    background-color: white;
}

#StockTable_length {
    margin-bottom: 10px;
    margin-top: 2px;
}

#StockTable_filter input[type=search] {
    width: 300px;
    height: 35px;
    margin-top: 2px;
    margin-bottom: 10px;
}

#newButton {
    background-color: #326C96;
    border: #326C96;
    color: white;
}

/* #Statustable_length, #Statustable_filter, #Statustable_info {
    display: none;
  }
  
  #example_length, #example_filter, #example_info {
    display: none;
  } */
#example_length, #example_filter {
    display: none;
}

/* #StockTable_length{
    display: none;
} */

.nav_logo {
    margin: 10px;
    height: 20px;
    width: 170px;
    padding-left: 20px;
}

.maintable {
    background-color: black;
    color: white;
    border: 1px;
}
.rounded-circle {
    width: 40px;
    height: 40px;
}
#logout {
    color: rgb(150, 147, 143);
    margin-top: 30px;
    margin-left: 30px;
}
#Uname {
    margin-right: 15px;
    margin-top: 5px;
}
#img {
    margin-right: 10px;
    margin-top: 13px;
}
#Uname {
    margin-right: 15px;
    margin-top: 7px;
}
#bade_logo {
    width: 100%;
    margin-left: -35px;
}
/* #production, #water, #warehouse {
    background-color: #326C96;
    color: white;
} */
#save_outer {
    background-color: #326C96;
    color: white;
    width: 11%;
    margin-left: 10px;
}
#close_outer {
    width: 11%;
    color: black;
    background-color: white;
}

#save_inner {
    background-color: #326C96;
    color: white;
    width: 17%;
}
#close_inner {
    width: 17%;
    color: black;
    background-color: white;
    font-weight: bold;
}


#close {
    width: 17%;
}

.pagination {
    display: inline-block;
}

.pagination .page-item.active .page-link {
    background-color: black;
    border: black;
    color: white;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: black;
    color: white;
    border: 1px solid black;
}

#Statustable.dataTable td.dt-control:before {
    background-color: white;
    color: #1188FF;
    border-color: #1188FF;
}

#Statustable th.sorting.sorting_asc::before {

    margin-right: 15%;
}

#Statustable th.sorting.sorting_asc::after {

    margin-right: 15%;
}

#Statustable th.sorting.sorting_desc::after {

    margin-right: 15%;
}

#Statustable th.sorting.sorting_desc::before {

    margin-right: 15%;
}

#Statustable th.sorting::before {
    margin-right: 15%;
}

#Statustable th.sorting::after {
    margin-right: 15%;
}

/* 
    table.dataTable td.dt-control {
      text-align: start !important;
      color: rgb(95, 159, 248);
      padding-right: 3px;
    } */

input[type=checkbox]:checked {
    accent-color: green;
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: -23px;
    left: 17px;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    /* transition: all 0.3s ease-in-out 0s; */
}

.navbar-nav .nav-link.active::before {
    visibility: visible;
    transform: scaleX(1);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #4872b1 !important;
    /* border-color: #4872b1 !important; */
    color: white !important;

}

#StockTable.dataTable td.dt-control:before {
    background-color: white;
    color: #1188FF;
    border-color: #063894;
    margin: 5px;
}

table.dataTable td.dt-control {
    text-align: start !important;
    color: rgb(95, 159, 248);
    padding-right: 3px;
}


.page-item.active .page-link {
    background-color: black !important;
    border-color: black !important;
    color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0% !important;
    margin: 0% !important;

}

li.paginate_button.page-item.active {
    background: none !important;
    border: none !important;
}

li.paginate_button.page-item:hover {
    background: none !important;
    border: none !important;
}

#StockTable th.sorting_asc.sorting_asc::before {

    display: none;
}

#StockTable th.sorting_asc.sorting_asc::after {

    display: none;
}

#StockTable th.sorting_desc.sorting_desc::after {

    display: none;
}

#StockTable th.sorting_desc.sorting_desc::before {

    display: none;
}

#StockTable th.sorting_asc::before {
    display: none;
}

#StockTable th.sorting_desc::after {
    display: none;
}


/* #StockTable_info {
    margin-top: -3px;
    margin-left: 980px;
    width: 1195px !important;
    justify-content: end;
}



@media only screen and (max-width: 1250px) {
    #dashboardtable_info {
        width: 900px !important;
    }
}

@media only screen and (max-width: 1150px) {
    #dashboardtable_info {
        width: 800px !important;
    }
}

@media only screen and (max-width: 1050px) {
    #dashboardtable_info {
        width: 700px !important;
    }
}

@media only screen and (max-width: 900px) {
    #dashboardtable_info {
        width: 600px !important;
    }
} */

