.container{
    margin: 20px;
    margin-left: 300px;
}
header{
    color: brown;
    /* display: flex;
    justify-content: flex-end; */
    margin-left: 500px;
}

div{
    border: 1px solid rgb(213, 207, 207);
    width: 700px;
    background-color: rgb(245, 245, 245);
}
input{
    width: 400px;
}

section{
    margin: 20px;
}