table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 70vw;
    height: 20vw;
    border-radius: 10px;
}

td {
    border: 1px solid black;
    
    border-collapse: collapse;       
    text-align: center;
    width: 100vw;
    color: black;


}
input[type="button"] { 

    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: lightgray;


} 
input[type="text"] {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;

}
#calculate{
    height: 100%;
    background-color: orange;
}