body {
  overflow-x: hidden;
}

.mainbody {
  background-color: #F7F8FA;
}

#status {
  font-size: 2rem;
  color: black;
}

#tableStatus thead {
  color: #ffffff;
  background-color: #212529;
}

#tableStatus th {
  font-weight: normal;
}

.displayTable {
  padding: 0% 3.3%;
}

.alert {
  padding: 8px 8px !important;
}

td {
  background-color: #ffffff !important;
}

#tableStatus_filter,
#tableStatus_length {
  display: none;
}

#tableStatus_info {
  margin-top: 1%;
  margin-left: 72%;
}

#tableStatus td {
  padding: 13px;
}

input[type="checkbox"]:checked {
  background-color: #1bab55;
  color: #ffffff;
  border: none;
}

#StatusChildTable thead {
  background-color: #cfd3d8;
  color: #8f8a8c;
}

#StatusChildTable td {
  padding: 10px;
}

table.dataTable td.dt-control:before {
  background-color: white !important;
  color: #212529 !important;
}

table.dataTable td.dt-control:before {
  height: 1em;
  width: 1em;
  margin-top: -9px;
  margin-right: 3%;
  display: inline-block;
  color: white;
  border: 0.15em solid white;
  border-radius: 1em;
  box-shadow: 0 0 0.2em #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  content: "+";
  background-color: #31b131;
}

input[type=search] {
  width: 80%;
}

thead {
  background-color: black;
  border-radius: 1em;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

table {
  /* font-size: small; */
  border-radius: 0.5em;
  overflow: hidden;
  border: 1px gray solid;
}

.current {
  background-color: #212529 !important;
}

#tableStatus tr td:nth-child(1) {
  color: #1188FF;
}


table.dataTable td.dt-control:before {
  background-color: white !important;
  color: #326C96 !important;
  border: 1px solid #326C96 !important;

}

table.dataTable td.dt-control:before {
  height: 1em;
  width: 1em;
  margin-right: 3%;
  margin-top: -9px;
  display: inline-block;
  color: white;
  border: 0.15em solid #1188FF;
  border-radius: 1em;
  box-shadow: 0 0 0.2em #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  content: "+";
  background-color: #31b131;
}

#tableStatus_paginate {
  border: 1px rgb(220, 218, 218) solid;
  border-radius: 3px;
  margin-top: 1%;
  color: #ffffff;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0% !important;
}


#table_div_paginate a.paginate_button.current {
  color: white !important;
  background-color: black !important;
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
  position: absolute;
  display: block;
  opacity: 0.125;
  right: 35% !important;
  line-height: 9px;
  font-size: 0.8em;
}