body {
    overflow-x: hidden;
}

strong {
    font-size: 14px;
}

.rounded-circle {
    width: 33px;
    height: 33px;
}

.navbarCoA {
    background-color: rgb(239 239 239);
    padding: 2px 0;
    /* height: 65px; */
}

#Standardizer_logo {
    width: 150px;
    height: 47px;
}

#coa_text {
    font-weight: bold;
    color: #3cb7e7;
    margin-top: 7px;
}

/* navbar underline */
.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 47%;
    height: 2px;
    bottom: -9px;
    left: 15px;
    background-color: #3cb7e7;
    visibility: hidden;
    transform: scaleX(0);
    /* transition: all 0.3s ease-in-out 0s; */
}

.navbar-nav .nav-link.active::before {
    visibility: visible;
    transform: scaleX(1);
}


/* header 7 button  */
.header-button {
    height: 32px;
    width: auto;
    padding: 5px 18px;
    color: grey;
    font-size: 13px;
    background-color: rgb(239, 239, 239);
    border: none;
    margin-right: 5px;
    border-radius: 5px;

}
.header-button.active {
    background-color: #3cb7e7;
    color: white;
}

/* submit button */
.submit {
    background-color: #00961f;
    color: white;
    font-size: 14px;
}
.submit:hover {
    background-color: #00961f;
    color: #fff;
}

.submit:focus {
    background-color: #00961f;
    color: #fff;
}


.human {
    color: rgb(255, 123, 0);
    font-size: 14px;
    margin-top: 18px;
    margin-left: 9px;
}

.destination {
    height: 500px;
    width: 310px;
    overflow: scroll;
}

.search {
    border-radius: 0px;
    margin-top: -21.5px;
    font-size: 10px;
    padding: 9px;
}
input[type="search"]:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da;
}



/* .destination1{
    margin-left: 900px;
    overflow-x: hidden;
    overflow-y: hidden;
} */

/* destination account structure master file data  */
li.list-group-item.border {
    padding: 7px;
    padding-left: 14px;
    font-size: 13px;
    border-radius: 1px;
    /* width: 295px; */
}

.list-group-item {
    margin-bottom: 10px;
}




.balancesheetaccount {
    background-color: #00a5e5;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
    margin-top: 9px;
}

.likelydestination {
    color: white;
}

.mostlikely {
    background-color: #02d2e0;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
    margin-top: 9px;

}

.Likely {
    background-color: #43d3dd;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
    margin-top: 9px;

}

.possible {
    background-color: #7fdfe6;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
    margin-top: 9px;

}

.balancedestination {
    background-color: #0d9d66;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
    margin-top: 9px;

}

.scroll {
    border: 1px solid rgb(230, 230, 230);
    padding: 3px;
}

#container {
    white-space: nowrap;
    overflow-x: auto;
}

.scroll a {
    display: inline-block;
    padding: 8px;
}

a {
    text-decoration: none;
    color: black;
}



/* scrollbar */
nav#menu-container {
    position: relative;
    width: 100%;
    height: 56px;

    
}

#btn-nav-previous {
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    left: 0px;
    padding: 7px 9px;
    /* background: white; */
    fill: #FFF;

}

#btn-nav-next {
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 5px;
    padding: 7px 5px;
    background: white;
    fill: #FFF;
}

.menu-inner-box {
    width: 100%;
    white-space: nowrap;
    margin: 0px -21px;
    overflow: hidden;
    padding: 0px 28px;
    box-sizing: border-box;
    font-size: 10.3px;
    color: black;
    font-weight: bold;
}

.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    text-align: center;
}

.menu-item {
    height: 100%;
    padding: 0px 25px;
    color: #fff;
    display: inline;
    margin: 0 auto;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
    white-space: no-wrap;
}

.menu-item:hover {
    text-decoration: underline;
}

.last-item {
    margin-right: 50px;
}



  
 


/* underline in menuitem */

.menu-inner-box a.active {
    color: #0d9d66;
}
.menu-inner-box a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-weight: bold;
    padding: 8px 4px;
}
.menu-inner-box a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0d9d66;
    transform: scaleX(0);
    transform-origin: bottom;
    /* transition: transform 0.3s ease-in-out; */
}
.menu-inner-box a.active {
    color: #0d9d66;
}

.menu-inner-box a.active:after {
    transform: scaleX(1);
}




@media (max-width: 994px) {
    .btn {
        font-size: 12px;
        padding: 10px;
        margin: 10px;
    }
}