body {
    overflow-x: hidden;
}

strong {
    font-size: 14px;
}

.rounded-circle {
    width: 33px;
    height: 33px;
}

.navbarCoA {
    background-color: rgb(239 239 239);
    padding: 2px 0;
    /* height: 65px; */
}

#Standardizer_logo {
    width: 150px;
    height: 47px;
}

#coa_text {
    font-weight: bold;
    color: #3cb7e7;
    margin-top: 7px;
}

/* .btn{
    background-color: #f2f2f2;
    
}
.btn:focus{
   
    background-color: #3cb7e7;
} */
#header_button1 {
    height: 32px;
    width: 93px;
    padding-top: 5px;
    color: white;
    background-color: #3cb7e7;
    font-size: 13px;
}

#header_button2, #header_button4, #header_button5 {
    height: 32px;
    width: 93px;
    padding-top: 5px;
    color: grey;
    font-size: 13px;
    background-color: rgb(239 239 239);
}

#header_button3, #header_button6 {
    height: 32px;
    width: 110px;
    padding-top: 5px;
    color: grey;
    font-size: 13px;
    background-color: rgb(239 239 239);
}

#header_button7 {
    height: 32px;
    width: 185px;
    padding-top: 5px;
    color: grey;
    font-size: 13px;
    background-color: rgb(239 239 239);
}
/* Style the buttons */
.btn {
    background-color: grey;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
  
  /* Style the active button */
  .btn.active {
    background-color: blue;
  }
  

.submit {
    background-color: #00961f;
    color: white;
    font-size: 14px;
}

.human {
    color: rgb(255, 123, 0);
    font-size: 14px;
}

.destination {
    height: 500px;
    width: 310px;
    overflow: scroll;
}

.search{
    border-radius: 0px;
    margin-top: -18px;
    font-size: 12px;
}

/* .destination1{
    margin-left: 900px;
    overflow-x: hidden;
    overflow-y: hidden;
} */
li.list-group-item.border {
    padding: 3px;
    padding-left: 14px;
    font-size: 13px;
    border-radius: 1px;
}

.list-group-item {
    margin-bottom: 10px;
}


.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 47%;
    height: 2px;
    bottom: -9px;
    left: 15px;
    background-color: #3cb7e7;
    visibility: hidden;
    transform: scaleX(0);
    /* transition: all 0.3s ease-in-out 0s; */
}

.navbar-nav .nav-link.active::before {
    visibility: visible;
    transform: scaleX(1);
}

.balancesheetaccount {
    background-color: #00a5e5;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
}

.likelydestination {
    color: white;
}

.mostlikely {
    background-color: #00c0cd;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
}

.Likely {
    background-color: #33cdd7;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
}

.possible {
    background-color: #7fdfe6;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
}

.balancedestination {
    background-color: #0d9d66;
    border-radius: 2.2px;
    padding-left: 8px;
    color: white;
}

.scroll {
    border: 1px solid rgb(230, 230, 230);
    padding: 3px;
}

#container {
    white-space: nowrap;
    overflow-x: auto;
}

.scroll a {
    display: inline-block;
    padding: 8px;
}

a{
    text-decoration: none;
    color: black;
}



/* scrollbar */
nav#menu-container {
    position: relative;
    width: 100%;
    height: 56px;
}

#btn-nav-previous {
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    left: 0px;
    padding: 6px 0px;
    /* background: #8f9a9d; */
    fill: #FFF;
}

#btn-nav-next {
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 5px;
    padding: 7px 5px;
    /* background: #8f9a9d; */
    fill: #FFF;
}

.menu-inner-box {
    width: 100%;
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 9px;
    box-sizing: border-box;
    font-size: 10.3px;
    color: black;
    font-weight: bold;
}

.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    text-align: center;
}

.menu-item {
    height: 100%;
    padding: 0px 25px;
    color: #fff;
    display: inline;
    margin: 0 auto;
    line-height: 57px;
    text-decoration: none;
    text-align: center;
    white-space: no-wrap;
}

.menu-item:hover {
    text-decoration: underline;
}

.last-item {
    margin-right: 50px;
}





@media (max-width: 994px) {
    .btn {
        font-size: 12px;
        padding: 10px;
        margin: 10px;
    }
}