h1{
    text-align: center;
}
*{
    font-size: 15px;
}

body{
    background-color:  rgb(157, 224, 240);
    
}
table{
    width: 60%;
    /* background-color: aquamarine; */
    margin-left: 15%;
    border: 0px ;
    border-radius: 6px;
    border-collapse: collapse;
}
tr{
    height: 50px;
}
td{
    text-align: center;
    border: 1px rgb(170, 168, 168) solid;
    /* border-radius: 6px; */
}
#text{
    text-align: right;
    width:1000px;
    height: 150PX;
    border-style: none;
   background-color: black;
   border-radius: 6px;
   color: white;
   font-size: 2.5rem;
}
.buttons{
    border-style: none;
    height:53px ;
    width: 247px;
    background-color: rgb(161, 158, 158);
}
.button{
    border-style: none;
    height:53px ;
    width: 247px;
    background-color: white;

}
#EqualTo{
    height: 120px;
    width: 247px;
    background-color: rgb(240, 132, 9);
    border-style: none;

}
#lastremove,#ac{
    background-color:rgb(131, 172, 233);
}