.navbar{
  width: 90%;
  margin-left: 60px;
  text-align: center;
  padding: 0 !important;
  
}
#username{
  font-size: 19px;
  width: 23px;
  font-family:   Calibri;
  font-weight:bold;
}
.parent {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 50%;
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;

}

.image2 {
  position: absolute;
  top: 280px;
  left: 150px;
}

.head_login {
  top: 500px;
}

.parentright {
  /* position: fixed; */
  margin-top: 1%;
  margin-left: 57%;

}

#login_form {
  margin: 10%;
}

.container {
  position: fixed;
}

.lg1 {
  background-color: #326C96;
}

@media only screen and (max-width: 1200px) {
  .parent {
    display: none;
  }

  .parentright {
    margin-left: 0;
  }
}

@media only screen and (max-width: 700px) {

  .parentright {
    margin-right: 15%;
  }
}

li {
  size: 19px;
  margin: 10px;

}



.hr {
  border-bottom: 2px solid #175480;
  width: 6%;
  margin-left: 2%;

}

.msgerror {
  color: red;
}

.status {
  width: 80px;
  height: 30px;
  padding: 0;
  margin: 0;

}

.modal:nth-of-type(even) {
  z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
  z-index: 1051 !important;
}

/* plus button in table expand */
table.dataTable td.dt-control:before {
  height: 1em;
  width: 1em;
  margin-top: -9px;
  display: inline-block;
  color: #326C96;
  border: 0.15em solid #326C96;
  border-radius: 1em;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  content: "+";
  background-color: white;
}

table.dataTable tr.dt-hasChild td.dt-control:before {
  content: "-";
  background-color: white;
  border: 0.15em solid #326C96;
  color: #326C96;

}
/* 
.round{
  border-radius: 15px 50px 30px 5px;
} */
table{
  border-collapse: collapse;
  border-radius: 10px !important; 
  overflow: hidden;
  table-layout: relative; 
  width: 100% !important;
  
}
.toolbar {
  float: left;
}

.page-item.active .page-link {
  background-color: black !important;
  border-color: black !important;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0% !important;
  margin: 0% !important;

}
li.paginate_button.page-item.active {
  background: none !important;
  border: none !important;
}
li.paginate_button.page-item:hover {
  background: none !important;
  border: none !important;
}
.page-link{
  color: #000000;
}




/* pagination and info css */
.pagination{
  float: right !important;
  margin-right: -300px !important;
  margin-top: 20px !important;
  
}

.dataTables_info{
  float: right !important;
  margin-right: 115px !important;
  padding-right: 37px !important;
  margin-top: 17px !important;
  color: #3F4D65;
  font-size: 14px;
  font-family: system-ui;
}

  
/* space between table and stock label */ 
.dataTables_filter{
  margin-bottom: 28px !important;
}

/* checkboxes css */

.form-check-input:checked {
  background-color: #009900;
  border-color: #009900;
}

.edit,.history{
  color:#878585;
}
.popover-body{
  padding: 0%;
  margin: 3% 0% 0% 0%;
 
}



.msgerror{
  
  margin-top: 7px;
  margin-left: 3px;
}


/* Navbar Active line start */
.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 33%;
  height: 2px;
  bottom: -18px;
  /* margin: auto; */
  right: 50%;
  transform: translate(50%,-50%);
  /* left: 29px; */
  background-color: #000;
  visibility: hidden;
  /* transform: scaleX(0); */
  /* / transition: all 0.3s ease-in-out 0s; / */
}
#addassignment{
  height: 35px;
  width: 75px;
  padding: 0;
}
.sorting_disabled,.sorting {
  font-weight:normal !important;
}
.navbar-nav .nav-link.active::before
{
  visibility: visible;
  /* transform: scaleX(1); */
}

.modal-footer{
  justify-content: flex-start;
}


/* sorting arrow placement */

/* .sorting ,.sorting_desc{
  margin-right: 88px;
} */

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  background-image: url(images/search.PNG);
  background-repeat: no-repeat;
  background-size: 26px;
  padding-left: 28px;
}

.fa-pen:before {
  content: "\f304";
  cursor: pointer;}



/* Datatable sorting icon dashboard */

  /* table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after {
    opacity: .6;
    margin-right: 73%;
}
table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
  top: 50%;
  content: "▼";
  margin-right: 73%;
} */

/* Stock status color dropdown */

.btn-group-vertical>.btn-check:checked+.btn, .btn-group-vertical>.btn-check:focus+.btn, .btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn-check:checked+.btn, .btn-group>.btn-check:focus+.btn, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
  z-index: 1;
  background-color: #326C96;
}



.colorthead{
  background-color: #F5F6FA;
  color: #8F8A8C;
  
}