* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }
  body {
    font-family: arial;
    /* background: #4287f5; */
  }
  #calculator-wrapper {
    display : grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;  
    grid-template-columns : repeat(4 ,80px);
    grid-template-rows: minmax(120px,auto) repeat(5, 80px);
  }   
  #calculator-wrapper > button {
    cursor:pointer;
    outline: none;
    font-size: 1.4rem;
    border: 2px solid #0000; 
  }
  #calculator-wrapper>button:hover {
      background-color: #888787;
  }    
  .span-two {
    grid-column: span 2;
  }
  .display {
    grid-column: 1 /-1;
    background: #888787;
    color: #000;
    display:flex;
    flex-direction:column;
    /* align-items: flex-end; */
    justify-content: space-around;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 2rem;
  
  }
 
  