body{
    margin: 0;
    width: 0;
    background-image: url("images/contactimage.jpg") ;
    background-repeat: no-repeat;
    background-size: 100vw 50vw;
    /* display: flex; */
}
.container{
    /* background-image: url("images/contactimage.jpg") ; */

}

.nav1{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50px;
    background-color: rgb(55, 80, 80);
    color: white;
    box-shadow: 2px 2px;    
    /* display: inline; */
}

.nav1 li{
margin: 6px;
padding: 10px;
list-style: none;
color: aqua;

}


.nav1 li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;

}
.nav1 li:hover{
color: aqua;

}

.heading1 {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.container{
    width: 100vw;
    padding: 5px 10px;
   display: flex;

}
.formdesign{
   font-size: 19px;    

}

.formdesign input{
    width: 490px;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 5px;
}

#name{
    padding: 4px 400px;
}

#name1{
    padding: 4px 400px;

}
#phone{
    padding: 4px 400px;

}
#email{
    padding: 4px 400px;

}


.sub1{
    padding: 5px 405px;
    box-shadow: 40px; 
}

.button1 {
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 8px 16px;
    background-color: pink;
}

.button1:hover{
    box-shadow: 0 8px 16px blue;
}

.event2 img{
    margin: -2px -872px;
}
