table{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
.upperTable tr{
    border: 1px solid black;
}
.lowertable td{
    border: 1px solid black;
}
.center{
    text-align: center;
}
button{
    align-items: center;
}
h1{
    text-align: center;
}
input[type=checkbox]{
    accent-color: rgb(0, 162, 255);
}
/* .frdt2{
    border: none;
    text-align: center;
}
.lowertable #row2_1{
    border: none;
} */

table tr td.frst2{
    border: 0px ;
    text-align: center;
}

.first{
    border: 1px black solid;
}
/* .secondrow{
    border-bottom: 2px black solid;
} */


/* table, tr, td {
    border: 3px solid red;
  }
  tr.noBorder td {
    border: 0;
  } */