/* nav */
body {
    margin: 0;
    overflow-x: hidden;
}

.Dlogo {
    width: 165px;
    margin-left: -6%;
}

.nav-item {
    margin-right: 5%;
}

.navItem {
    margin-right: 18%;
}


.adminImg {
    border-radius: 50px;
    height: 41px;
    margin-top: 2px;
}

.welcome {
    font-size: 11px;
    opacity: 70%;
    margin-bottom: -18%;
    margin-top: 8%;
}

.getN {
    display: inline-block;
    white-space: nowrap;
}

.dynamicN {
    font-size: medium;
    font-weight: bold;
    margin-top: -29%;

}

#logout{
    margin-right: -7%;
}



.fa-solid {
    color: #858585;
}







@media only screen and (max-width: 575px) {
    .Dlogo {
        width: 165px;
        margin-left: -2%;
    }
}


/* active class */
.active {
    border-bottom: 2px solid black;
    height: 60px;
    color: black;
    font-weight: bold;

}


/* section */
.section {
    background-color: #F7F8FA;
}

/* Assignment */
.stock_heading {
    font-size: 22px;
    margin-left: 3.5%;
}

.stockSearch {
    width: 29%;
    margin-right: 3%;
}

#stock_search {
    width: 97%;
}

.btnNew {
    margin-right: 30px;
    width: 50px;
    height: 26px;
    margin-top: 16px;
}

.btnLog {

    font-size: 12px;
    width: 68px;
    height: 122%;
    border-radius: 6px;
    background-color: #326C96;
    color: white;
    border: 1px solid white;
    border-radius: 5px;

}


