/*Dashboard Css  */
/* nav */
body {
    margin: 0;
    overflow-x: hidden;
}

.Dlogo {
    width: 165px;
    margin-left: -5%;
}

.nav-item {
    margin-right: 5%;
}

.navItem {
    margin-right: 18%;
}

.dimg {
    width: 20%;
}

/* nav highlight */
ul li a {
    color: #110d0d;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: color 0.5s;
}

ul li .underline {
    height: 2px;
    background-color: transparent;
    width: 0%;
    transition: width 0.2s, background-color 0.5s;
    margin: 0 auto;
}

ul li.active-link .underline {
    width: 100%;
    background-color: rgb(22, 18, 18);
}



.adminImg {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.welcome {
    font-size: 11px;
    opacity: 70%;
    margin-bottom: -0%;
    margin-top: 7%;
}

.getN {
    display: inline-block;
    white-space: nowrap;
}

.dynamicN {
    font-size: medium;
    font-weight: bold;
    margin-top: -29%;

}

.table_head {
    background-color: black;
    color: white;
    font-size: 12px;
}

.dataTables_length {
    display: none;
}

/* label{
    display: none;

} */
.dataTables_paginate {
    display: none;

}

/* th{
    font-size: 12px;
    color: white;
    font-weight: 400;
} */

tbody {
    font-size: 11px;
    font-weight: 400;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}


.stock {
    font-size: 22px;
}

.pageNo {
    font-size: 12px;
    font-weight: 400;
    color: black;
    margin-right: 5px;
}

.dataTables_info {
    display: none;
}

.page-link {
    color: black;
}

.fa-solid {
    color: #858585;
}

th {
    color: white;
}

thead {
    background-color: black;
    border-radius: 1em;
}

table {
    font-size: small;
    border-radius: 1em;
    overflow: hidden;
}






/* for nav */
a:active {
    text-decoration: underline;
    text-underline-position: under;

}

a:hover {

    text-decoration: underline;
    text-underline-position: under;
}

.LineUnderWelcome {
    width: 10%;
    border: 1px solid#326C96;
    background-color: #326C96;
    opacity: 1;
}








@media only screen and (max-width: 575px) {
    .Dlogo {
        width: 165px;
        margin-left: -2%;
    }
}