table.dataTable tr.dt-hasChild td.dt-control::before {
    
    background-color: rgb(248 249 250);
    color: blue;
}
table.dataTable td.dt-control:before {
    background-color: rgb(248 249 250);
    color: blue;
}

.butS{
    height: 2rem;
}
.btnLog{
    width: 100%;
    background-color: #024a7d; color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 32px;
    font-size: 11px;
    width: 60px;
   
 }
 
 .radioCol{
    background-color: #024a7d; color: white;
 }
 
 .btnDiv{
    width: 30%;
 }
 .btnM{
    font-size: 12px;
    width: 120%;
 }

 .notes{
    height: 110px;
 }