body {
    height: 2000px;
    background-image: linear-gradient(to right, rgb(149, 198, 226), rgb(233, 125, 227));
}

form .error {
    color: #ff0001;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:invalid {
    color: #ff0001;
    /* border: red solid 3px; */
}