small{
    color: red;
}
.fade{
    background-color: rgb(20, 21, 21);
}
#myform{
    padding: 5%;
    border: 2px blue solid;
    border-radius: 8px;
}
#table{
    margin-right: 8%;
    justify-content: center;
}
body{
    background-image: linear-gradient(to right,orange,yellow);
}