body{
    background-color: rgb(159, 206, 242);
}
table, td{
    border: 1px solid white;
    border-collapse: collapse;
    width: 200px;
    height: 105px;
    box-shadow: 0.5px 0.5px 0.5px grey;
    
}
.img1 td{
    text-align: center;
    height: 10px;
    color: blue;
}

.image-resize{
    height: 150px;
    display: flex;
}
div{
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    width:  150px;
    height: 100px;
    object-fit: cover;
     margin-top: 5px ;
}

