.bigimg{
    position: relative;
}
.bg_logo {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
}
#btn {
    background-color: #326C96;
    color: white;   
}
form {
    width: 30rem;
}

@media only screen and (max-width: 767px) {
    .bg_logo {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .bigimg {
        display: none;
    }
}

