.nav_logo {
    margin: 10px;
    height: 20px;
    width: 170px;
    padding-left: 20px;
}

.rounded-circle {
    width: 40px;
    height: 40px;
}

.maintable {
    background-color: black;
    color: white;
    border: 1px;
}

#example_length, #example_filter, #example_paginate, #example_info {
    display: none;
}

#example1_length, #example1_filter, #example1_paginate, #example1_info {
    display: none;
}

.pagination {
    margin-right: 17px;
}

.page-link {
    color: black;
}

.navbar a.active {
    border-bottom: 3px solid #000000;
}

#logout {
    color: rgb(150, 147, 143);
    margin-top: 30px;
}

#img {
    margin-right: 10px;
    margin-top: 13px;
}

#Uname {
    margin-right: 15px;
    margin-top: 7px;
}

.sorting_asc {
    background-position: 10px !important;
}

#bade_logo {
    width: 110%;
    margin-left: -35px;
}
table.dataTable thead>tr>th.sorting_asc:before{
    margin-right: 310px;
    position: absolute;
}
table.dataTable thead>tr>th.sorting_asc:after{
    margin-right: 310px;
    position: absolute;
    padding-top: 3px;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.pagination a.active {
    background-color: black;
    color: white;
    border: 1px solid black;
  }